.calendarContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex;
    align-items: center;
    width: 100vw;
    height: 565px;
    margin-top: 55px;
    background-color: lavender;
}

.weekContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex;
    align-items: center;
    margin-top: 8px;
    width: 100vw;
    /* min-height: 6vh; */
    height: 450px;
    overflow: auto;
}

.dayContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.mealItemContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    margin-bottom: 5px;
}

.mealItem {
    display: block;
    width: 265px;
    height: 40px;
    margin-bottom: 2.5px;
    font-size: 15px;
    border: 1.5px solid black;
    border-radius: 8px;
    color: black;
    background-image: linear-gradient(rgb(191 191 191), white, rgb(191 191 191));
    text-decoration: none;
} 

.dateRanger {
    all: unset;
    border: 1.75px solid black;
    background-color: #fffafa;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    /* color: white; */
}