.calendarContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 612px;
    margin-top: 55px;
    background-color: #f8f8ff; 
}

.weekContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100vw;
    height: 470px;
    overflow: auto;
}

.dayContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.mealItemContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 370px;
    height: 40px;
    text-align: center;
    margin-bottom: 2px;
}

.mealItem {
    background-image: linear-gradient(rgb(191 191 191), snow, rgb(191 191 191));
    display: block;
    width: 260px;
    height: 40px;
    font-size: .8em;
    border: 1.5px solid black;
    border-radius: 8px;
    color: black;
    text-decoration: none;
    padding-left: 8px;
    padding-right: 8px;
    overflow: hidden;
} 

.dateRanger {
    all: unset;
    border: 1.75px solid black;
    background-color: #fffafa;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    text-align: center;
    /* width: 294.3875045776367px; */
}

.dateRangeCal {
    /* width: 294.3875045776367px; */
}

.calendarSaveButton {
    margin-top: 8px;
    width: 200px;
    height: 35px;
    border: 1.5px solid black;
    border-radius: 5px;
    background-image: linear-gradient(#6b8e23, snow, #6b8e23);
    /* background-image: linear-gradient(#666422, snow, #666422); */
    text-align: center;
    color: black;
    padding: 3px;
}

.calendarSaveButton:focus {
    outline: unset;
    border: 1.5px solid black;
}

.dayClearButton {
    margin-right: 8px;
    height: 40px;
    border-radius: 8px;
    margin-left: 8px;
    width: 71px;
    background-image: linear-gradient(#4682b4, white, #4682b4);
    color: black;
}