.landingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: lavender;
}

.logo {
    width: 300px;
    z-index: 1;
}