.landingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: #f8f8ff; 
    overflow: hidden;
}

.logo {
    width: calc(150% / 2);
    z-index: 1;
}