
.mealContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: lavender;
    /* justify-content: flex-start; */
    /* max-height: 84.55vh; */
}

.chartjs-render-monitor {
    margin-top: 3vh;
    width: 10vw;
}

.listContainer {
    margin-top: 2vh;
    width: 100vw;
    min-height: 6vh;
    max-height: 60vh;
}

.itemContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5vh;
    margin-bottom: .5vh;
}

.itemDescription {
    width: 70vw;
    height: 5vh;
    background-color: white;
    border: 1px solid black;
    border-radius: .5em;
    padding-left: 1vw;
    padding-top: .5vh;
    font-size: 12px;
    
}

.itemGrams {
    width: 12vw;
    height: 5vh;
    border: 1px solid black;
    border-radius: .5em;
    padding: 1%;
    margin-left: 1.5vw;
    text-align: center;
    font-size: 12px;
}

.itemDeleteButton {
    width: 13vw;
    height: 5vh;
    border: 2px solid black;
    border-radius: .5em;
    margin-right: 1.5vw;
    padding: 1%;
    text-align: center;
    font-size: 12px;
}

.saveButton {
    position: fixed;
    bottom: 8vh;
    
}

.magnifyingGlass {
    position: fixed;
    bottom: 15vh;
    height: 5vh;
    width: 18vw;
    margin-top: 2vh;
    border: 2px solid black;
    border-radius: .5em;
    background-color: lightblue;
    
}



