.mealListContainer {
    margin-top: 10px;

}

.savedContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin-top: 55px;
    background-color: white;
    height: 564px;
}

.updateMealContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 612px;
    margin-top: 55px;
    background-color: white;
}

.viewListItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 370px;
    height: 42px;
    text-align: center;
}

.editableName {
    margin-top: 10px;
    font-weight: bold;
}

.savedMeal {
    display: block;
    width: 260px;
    height: 40px;
    padding:3px;
    font-size: 15px;
    border: 1.5px solid black;
    border-radius: 8px;
    color: black;
    background-image: linear-gradient(rgb(191 191 191), snow, rgb(191 191 191));
    text-decoration: none;

} 

.viewerDeleteButton {
    background-image: linear-gradient(rgb(178 34 34), white, rgb(178 34 34));
    height: 40px;
    border-radius: 8px;
    margin-left: 8px;
    width: 71px;
}

.saveEditButtonContainer {
    position: fixed;
    bottom: 15px;
}

.editButton_ME {
    height: 35px;
    width: 200px;
    text-align: center;
    border: 2px solid black;
    border-radius: .5em;
    margin-top: 8px;
    border: 1.5px solid black;
    border-radius: 5px;
    background-image: linear-gradient(#1a8693, snow, #1a8693);
    color: black;
    font-weight: bold;
    padding: 3px;
}

.saveButton_ME {
    height: 35px;
    width: 200px;
    text-align: center;
    border: 2px solid black;
    border-radius: .5em;
    margin-top: 8px;
    border: 1.5px solid black;
    border-radius: 5px;
    background-image: linear-gradient(#567112, snow, #567112);
    color: black;
    font-weight: bold;
    padding: 3px;
}

.fixedItemContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 29px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.fixedItemDescription {
    width: 90vw;
    /* height: 5vh; */
    background-color: white;
    border: 1px solid black;
    border-radius: .5em;
    padding-left: 1vw;
    padding-top: .5vh;
    font-size: 12px;
    
}

.editItemContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 29px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.editItemDescription {
    width: 70vw;
    /* height: 5vh; */
    background-color: white;
    border: 1px solid black;
    border-radius: .5em;
    padding-left: 1vw;
    padding-top: .5vh;
    font-size: 12px;
    
}

.searchButton_ME {
    position: fixed;
    bottom: 65px;
    height: 35px;
    width: 200px;
    text-align: center;
    border: 2px solid black;
    border-radius: .5em;
    margin-top: 8px;
    border: 1.5px solid black;
    border-radius: 5px;
    background-image: linear-gradient(#1a8693, snow, #1a8693);
    color: black;
    font-weight: bold;
    padding: 3px;
}

a:link {
    text-decoration: none;
}

a:active {
    color: black;
}


