.viewMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 55px;
    background-color: #f8f8ff; 
    height: 680px;
}

.viewListContainer {
    margin-top: 10px;
}

.mainContainer_ME {
    display: block;
    align-items: center;
    height: 680px;
    margin-top: 55px;
    background-color: #f8f8ff; 
}

.listContainer_ME {
    display: block;
    width: 100vw;
}

.list_ME {
    margin: auto;
    margin-top: 10px;
    height: 410px;
    width: 390px;
    overflow: auto;
}

.ingreMainContainer_ME {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 29px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.viewListItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 42px;
}

.editableName {
    margin-top: 10px;
    font-weight: bold;
    overflow-wrap: break-word;
    width: 400px;
    text-align: center;
}

.savedMeal {
    display: block;
    width: 280px;
    height: 40px;
    padding-left: 8px;
    border: 1.5px solid black;
    border-radius: 8px;
    color: black;
    background-image: linear-gradient(rgb(191 191 191), snow, rgb(191 191 191));
    text-decoration: none;

} 

.ingredientText_short {
    font-size: .9em;
    font-weight: 600;
    display: block;
    overflow-wrap: break-word;
    padding: 6px;
    width: 245px;
}

.ingredientText_long {
    display: block;
    font-size: .8em;
    font-weight: 600;
    overflow-wrap: break-word;
    width: 245px;
}

.viewerDeleteButton {
    background-image: linear-gradient(rgb(178 34 34), white, rgb(178 34 34));
    height: 40px;
    border-radius: 8px;
    margin-right: 8px;
    margin-left: 8px;
    width: 71px;
}

.viewerDeleteButton:active, .viewerDeleteButton:focus {
    outline: unset;
    border: 1.5px solid black;
}

.itemDeleteButton_ME {
    background-image: linear-gradient(rgb(178 34 34), white, rgb(178 34 34));
    height: 40px;
    border-radius: 8px;
    margin-left: 8px;
    width: 71px;
}

.itemDeleteButton_ME:active, .itemDeleteButton_ME:focus {
    outline: unset;
    border: 1.5px solid black;
}

.itemGrams_ME {
    padding: 6px;
    font-size: 15px;
    text-align: center;
    height: 40px;
    border-radius: 8px;
    width: 71px;
}

.bottomButtonContainer {
    display: block;
    position: fixed;
    bottom: 10px;
    height: 85px;
    width: 100vw;

}

.editButton_ME {
    display: block;
    background-image: linear-gradient(#1a8693, snow, #1a8693);
    bottom: 20px;
    height: 40px;
    width: 200px;
    text-align: center;
    border: 1.5px solid black;
    border-radius: 5px;
    margin-left: 10px;
    margin: auto;
}

.saveButton_ME {
    display: block;
    background-image: linear-gradient(#6b8e23, snow, #6b8e23);
    height: 40px;
    width: 200px;
    text-align: center;
    border: 1.5px solid black;
    border-radius: 5px;
    margin-left: 10px;
    margin: auto;
}

.addIngreButton_ME {
    display: block;
    margin: auto;
    height: 35px;
    width: 200px;
    text-align: center;
    border: 2px solid black;
    border-radius: .5em;
    border: 1.5px solid black;
    border-radius: 5px;
    background-image: linear-gradient(#1a8693, snow, #1a8693);
    color: black;
    font-weight: bold;
    padding: 3px;
    margin-bottom: 5px;
}

.editedIngreDescription {
    font-size: .8em;
    padding-left: 8px;
    display: block;
    width: 390px;
    height: 40px;
    border: 1.5px solid black;
    border-radius: 8px;
    color: black;
    background-image: linear-gradient(rgb(191 191 191), snow, rgb(191 191 191));
    text-decoration: none;
}

.prevIngreDescription {
    font-size: .8em;
    padding-left: 8px;
    margin-left: 8px;
    display: block;
    width: 260px;
    height: 40px;
    border: 1.5px solid black;
    border-radius: 8px;
    color: black;
    background-image: linear-gradient(rgb(191 191 191), snow, rgb(191 191 191));
    text-decoration: none;
    
}

a:link {
    text-decoration: none;
}

a:active {
    color: black;
}


