#searchForm {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    width: 100vw;
    bottom: 17vh;
    position: fixed;

}

.searchInput {
    width: 50vw;

}

.searchButton {
    margin-left: 3vw;
    width: 20vw;

}

.ingredientList {
    margin-top: 11vh;
    margin-left: 10vw;
    margin-right: 10vw;
    

}