
.ingredientList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    height: 550px;
    width: 100vw;
}

.ingredient {
    display: block;
    width: 365px;
    height: 40px;
    padding:3px;
    font-size: 15px;
    border: 1.5px solid black;
    border-radius: 8px;
    color: black;
    background-image: linear-gradient(rgb(191 191 191), snow, rgb(191 191 191));
    text-decoration: none;
    margin-bottom: 5px;
    font-size: .8em;
    
}

.ingredientText {
    margin-left: 4px;
}

.searchInput_SI {
    height: 40px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    left: 60px;
}

.searchButton {
    background-image: linear-gradient(#4682b4, white, #4682b4);
    height: 40px;
    width: 100px;
    text-align: center;
    border: 1.5px solid black;
    border-radius: 5px;
    margin-left: 10px;
    position: fixed;
    bottom: 20px;
    right: 60px;
    text-decoration: none;
    outline: unset;
}

.searchButton:active, .searchButton:focus {
    outline: unset;
    border: 1.5px solid black;
}

@media only screen and (min-width: 400px) {

    .ingredient {
        height: 45px;
    }

    #searchForm {
        bottom: 110px;
    }
}

@media only screen and (min-width: 768px) {
    
    .ingredientList {
        width: 700px;
    }

    .ingredient {
        height: 67px;
        width: 700px;
    }

    #searchForm {
        bottom: 145px;
    }
}