
.shoppingListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 565px;
    margin-top: 55px;
    background-color: lavender;
}

.itemContainer_SL {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    width: 100vw;
}

.title_SL {
    margin-top: 5px;
    margin-bottom: 20px;
}

.itemCheck_SL {
    margin-left: 10px;
}

.itemDescr_SL {
    margin-left: 10px;
}