html, body, #root {
  all: unset;
  display: block;
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: circle;
  margin: 0;
  padding: 0;
}

.uiLogo {
  position: fixed;
  top: 2vh;
  left: 5vw;
  right: 20vw;
  z-index: 1;
  width: 90vw;
  height: 90vh;
  opacity: 0.70;
}

.login_title {
  
  /* position: fixed;
  top: 40vh; */
  /* left: 32.5vw; */
  /* left: 50vw; */
  text-align: center;
  font-size: 3vw;
  margin-bottom: 5vh;
}

#firebaseui_container > div > form > div.firebaseui-card-header {
  display: none;
}

p.text-center {
  opacity: inherit;
}

.login_Container {
  box-shadow: 10px 10px 8px #888888;;
  position: fixed;
  border: 1px solid black;
  top: 45vh;
  left: 12vw;
  right: 20vw;
  z-index: 1;
  height: 47vh;
  width: 75vw;
  /* this was key for getting the whole component tansparent - bg color & opacity */
  background-color: white;
  opacity: 0.65;

}

a, a.active, a:active, a:focus {
  outline: unset;
  text-decoration: none;
  color: black;
}

button, button.active, button:active, button:focus {
  outline: unset;
  text-decoration: none;
  color: black;
}

textarea {       
  resize: none;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

input, select { 
  font-size: 100%; 
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.loginUiContainer {
  position: fixed;
  top: 65vh;
  left: 20vw;
  right: 20vw;
  z-index: 4;
}  

form div {
  height: 40px;
}


.navBar {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 5;
  background-color: #2f4f4f;
}

.nav-home {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

a.nav-home {
  text-decoration: none;
  color:white;
}

nav a.nav-link {
  text-decoration: none;
  color: white;
}

nav a.nav-link:active {
  text-decoration: none;
  color: white;
}

.splashContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #f8f8ff; 
  overflow: hidden;
}

.splashLogo {
  margin: auto;
  width: calc(150% / 2);
  z-index: 1;
}

.toast_container {
  margin-top: 56px;
  
}

.toast_block {
  background-color: lavender;
  position: fixed;
  left: 10vw;
  top: 15vh;
  text-align: center;
  z-index: 4;
  width: 40vw;

}

.toast_button {
  text-align: center;
  width: 15vw;
  height: 3vh;
  margin: 1vw;
}
