
.navBar {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 5;
  /* height: 8.45vh; */
  /* height: 56px; */
}

.nav-home {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

a.nav-home {
  text-decoration: none;
  color:white;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: #282c34;
  width: 100vw;
  text-align: center;
  color: white;
  height: 50px;
  padding-top: 8px;
  z-index: 5;
}