p {
  margin-top: 0;
  margin-bottom: 0;
}

.navBar {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 4;
  background-color: #2f4f4f;
}

.nav-home {
  text-decoration: none;
  color: white;
  font-size: 15px;
  
}

a.nav-home {
  text-decoration: none;
  color:white;
}


.footer {
  position: fixed;
  bottom: 0;
  background-color: #282c34;
  width: 100vw;
  text-align: center;
  color: white;
  height: 50px;
  padding-top: 8px;
  font-size: 15px;
  z-index: 5;
}

.footerText {
  position: fixed;
  left: 0;
  padding-top: 15px;
  padding-left: 5px;
}

.footLogButton{
  position: fixed;
  /* right: 80px; */
  /* width: 80px; */
  /* background-color: white; */
  background-image: linear-gradient(#c0c0c0, snow, #c0c0c0);
  height: 40px;
  border-radius: 15px;
  /* margin-left: 8px; */
  width: 71px;
  right: 10px;
}